{% load socialaccount %}
<li class="pe-3">
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg class="user">
            <use xlink:href="#user"></use>
        </svg>
    </a>
    {% if user.is_authenticated and user.is_staff%}
    <!-- admin -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tabs-listing">
                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">



                                <button class="nav-link text-uppercase active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                    aria-selected="true">{{user.username}} ({{customer.membership}})</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- log in tab -->
                            <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                                aria-labelledby="nav-sign-in-tab">
                                <a href="{%url 'profile'%}" name="log in credentials" class="btn btn-dark w-100 my-3"><i
                                        class="fa-solid fa-key"></i> User Profile</a>
                                <a href="{%url 'dashboard'%}" name="log in credentials"
                                    class="btn btn-dark w-100 my-3"><i class="fa-solid fa-envelope"></i> Admin Panel</a>
                                <a href="{%url 'logout'%}" name="log in credentials" class="btn btn-dark w-100 my-3"><i
                                        class="fa-solid fa-envelope"></i> Log Out</a>
                                <!-- Social login button here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% if user.is_authenticated%}
    <!--  for user -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tabs-listing">
                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link text-uppercase active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                    aria-selected="true">{{customer.user.username}} ({{customer.membership}})</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- log in tab -->
                            <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                                aria-labelledby="nav-sign-in-tab">
                                <a href="{%url 'profile'%}" name="log in credentials" class="btn btn-dark w-100 my-3"><i
                                        class="fa-solid fa-key"></i> User Profile</a>
                                <a href="{%url 'logout'%}" name="log in credentials" class="btn btn-dark w-100 my-3"><i
                                        class="fa-solid fa-envelope"></i> Log Out</a>
                                <!-- Social login button here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!--for guests -->

    <!-- Modal sign in or register -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tabs-listing">
                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link text-uppercase active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                    aria-selected="true">Log In</button>

                                <a href="{% url 'signup' %}" class="nav-link text-uppercase"
                                    name="Register">Register</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- log in tab -->
                            <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                                aria-labelledby="nav-sign-in-tab">
                                <a href="{% url 'login' %}" name="log in credentials" class="btn btn-dark w-100 my-3"><i
                                        class="fa-solid fa-key"></i> Login with
                                    Credetials</a>
                                <!-- <a href="{% url 'login' %}?type=otp" name="log in credentials"
                                    class="btn btn-dark w-100 my-3"><i class="fa-solid fa-envelope"></i> LogIn with
                                    Otp</a> -->
                                <a href="{% provider_login_url 'google' %}" name="Goole login"
                                    class="btn btn-dark w-100 my-3"><i class="fa-solid fa-envelope"></i> LogIn with
                                    Google</a>
                                <!-- Social login button here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endif %}


</li>



<!-- user option -->
{% if user.is_authenticated %}


<li class="wishlist-dropdown dropdown pe-3">
    <a href="{%url 'u-wishlist-list'%}" class="d-flex flex-row justify-content-center icon-link icon-link-hover"
        style="--bs-icon-link-transform: translate3d(.125rem, .225rem, 0);">
        <svg class="wishlist">
            <use xlink:href="#heart"></use>
            <span id="wishcount" class="badge bg-primary rounded-pill">{{wish_count}}</span>
        </svg>
    </a>
    <div class="dropdown-menu animate slide dropdown-menu-start dropdown-menu-lg-end p-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your wishlist</span>
            <span class="badge bg-primary rounded-pill">2</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                <div>
                    <h5>
                        <a href="single-product.html">Iphone 15 pro max</a>
                    </h5>
                    <small>Special discounted price.</small>
                    <a href="#" class="d-block fw-medium text-capitalize mt-2">Add to cart</a>
                </div>
                <span class="text-primary">$2000</span>
            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                <div>
                    <h5>
                        <a href="single-product.html">Apple Watch (2nd Gen)</a>
                    </h5>
                    <small>Professional apple watch.</small>
                    <a href="#" class="d-block fw-medium text-capitalize mt-2">Add to cart</a>
                </div>
                <span class="text-primary">$400</span>
            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between">
                <span class="text-uppercase text-center w-100">And X More</span>

            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between">
                <span class="text-uppercase"><b>Total (USD)</b></span>
                <strong>$1470</strong>
            </li>
        </ul>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="#" class="w-100 btn btn-dark mb-1" type="submit">Add all to cart</a>
            <a href="cart.html" class="w-100 btn btn-primary" type="submit">View WishList</a>
        </div>
    </div>
</li>
<li class="">


    <a href="{%url 'u-cart-list'%}" class="d-flex flex-row justify-content-center icon-link icon-link-hover"
        style="--bs-icon-link-transform: translate3d(.125rem, .225rem, 0);">
        <svg class="cart bi" aria-hidden="true">
            <use xlink:href="#cart"></use>
            <span id="cartcount" class="badge bg-primary text-white rounded-pill">{{cart_count}}</span>
        </svg>
    </a>
    <!-- <div class="dropdown-menu animate slide dropdown-menu-start dropdown-menu-lg-end p-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">2</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                <div>
                    <h5>
                        <a href="single-product.html">IPad (9th Gen)</a>
                    </h5>
                    <small>High quality in good price.</small>
                </div>
                <span class="text-primary">$870</span>
            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                <div>
                    <h5>
                        <a href="single-product.html">Drone with camera</a>
                    </h5>
                    <small>Professional drone with camera.</small>
                </div>
                <span class="text-primary">$600</span>
            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between">
                <span class="text-uppercase text-center w-100">And X More</span>

            </li>
            <li class="list-group-item bg-transparent d-flex justify-content-between">
                <span class="text-uppercase"><b>Total (USD)</b></span>
                <strong>$1470</strong>
            </li>
        </ul>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="cart.html" class="w-100 btn btn-dark mb-1" type="submit">View Cart</a>
            <a href="checkout.html" class="w-100 btn btn-primary" type="submit">Go to checkout</a>
        </div>
    </div> -->
</li>
{% endif %}



<!-- user option -->