[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-rest-framework = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
razorpay = "*"
setuptools = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.12"
