<div class="offcanvas-body d-flex justify-content-end">

    <ul id="navbar"
        class="navbar-nav text-uppercase justify-content-start justify-content-lg-center align-items-start align-items-lg-center flex-grow-1">
        <li class="nav-item">
            <a class="nav-link me-4 active" href="{%url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-4" href="{%url 'dashboard'%}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link me-4 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Admin Panels</a>
            <ul class="dropdown-menu animate slide border">
                <li><a class="dropdown-item" href="{%url 'admin-users-list'%}">Users</a></li>
                <li><a class="dropdown-item" href="{%url 'main_category-list'%}">Categories</a></li>
                <li><a class="dropdown-item" href="{%url 'admin-brand-list'%}">Brands</a></li>
                <li><a class="dropdown-item" href="{%url 'admin-product-list'%}">Products</a></li>
                <li><a class="dropdown-item" href="#">Orders</a></li>



            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link me-4" href="contact.html">Contact</a>
        </li>
    </ul>
    <div class="user-items d-flex">
        <ul class="d-flex justify-content-end list-unstyled mb-0">

            <!-- user logo -->
            {% include "admin/admin-left-nav.html" %}

        </ul>
    </div>

</div>