{% extends "index.html" %}
{% load rest_framework %}
{% block menu %}
{% include "admin/admin-nav.html" %}
{% endblock menu %}

{% block content %}
<div class="container">
    <form id="updateUserForm" class="form-horizontal" data-update-url="{%url 'main_category-detail' pk=category.id%}"
        enctype="multipart/form-data">
        <fieldset>



            {% render_form serializer %}

            <div class="form-action offset-sm-4 col-sm-8">
                <p id="formerror" class="text-danger text-start my-2"></p>

                <button type="button" id="saveUserButton" class="btn btn-primary">
                    Save Category
                </button>


                {% if category.active is True %}
                <button type="button" class="btn btn-danger col-4 fs-6" data-bs-toggle="modal"
                    data-bs-target="#blockModal" data-bs-userid={{category.id}} data-bs-username={{category.title}}>
                    Block
                </button>
                {%else%}
                <button type="button" class="btn btn-danger col-4 fs-6" data-bs-toggle="modal"
                    data-bs-target="#unblockModal" data-bs-userid={{category.id}} data-bs-username={{category.title}}>
                    Unblock
                </button>
                {% endif %}
            </div>

        </fieldset>
    </form>
</div>



<!-- Block -->
<div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="userBlockModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">

                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="blockform">

                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="blockbtn" type="button" class="btn btn-danger">Block</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- UnBlock -->
<div class="modal fade" id="unblockModal" tabindex="-1" aria-labelledby="userUnblockModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="unblockform">

                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="unblockbtn" type="button" class="btn btn-primary">Unblock</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>


    document.addEventListener('DOMContentLoaded', function () {
        const saveUserButton = document.getElementById('saveUserButton');
        const updateUserForm = document.getElementById('updateUserForm');
        const updateUrl = updateUserForm.getAttribute('data-update-url');
        const blockbtn = document.getElementById('blockbtn');
        const unblockbtn = document.getElementById('unblockbtn');
        console.log(updateUrl)

        blockModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const form = document.getElementById('blockform')

            const userid = button.getAttribute('data-bs-userid')
            const username = button.getAttribute('data-bs-username')
            const modalTitle = blockModal.querySelector('.modal-title')
            const modalmsg = blockModal.querySelector('.modal-body')
            form.setAttribute('action', `/myadmin/user/${userid}/block/`)
            modalTitle.textContent = `Block category id ${userid}`

            modalmsg.textContent = `Are u sure to Block ${username}`
        })
        update = (data) => {
            console.log(data)
            fetch(updateUrl, {
                method: 'PUT',
                body: data,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => {

                    if (response.status === 200) {
                        window.location.href = '/myadmin/category'
                    } else {
                        return response.text()
                    }

                })
                .then(data => {
                    if (data != undefined) {
                        formError = document.getElementById('formerror')
                        formError.innerText = `Please enter a valid ${data}`
                        console.log(data)
                    }
                })

        }

        unblockModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const form = document.getElementById('unblockform')
            const userid = button.getAttribute('data-bs-userid')
            const username = button.getAttribute('data-bs-username')
            const modalTitle = unblockModal.querySelector('.modal-title')
            const modalmsg = unblockModal.querySelector('.modal-body')
            form.setAttribute('action', `/myadmin/user/${userid}/unblock/`)
            modalTitle.textContent = `Unblock category id ${userid}`
            modalmsg.innerHTML = `<p>Are u sure to Unblock ${username}</p>`
        })


        saveUserButton.addEventListener('click', function () {
            const formData = new FormData(updateUserForm);
            update(formData)
        });
        blockbtn.addEventListener('click', function () {
            const formData = new FormData(updateUserForm);
            formData.delete('active')
            update(formData)
        });
        unblockbtn.addEventListener('click', function () {
            const formData = new FormData(updateUserForm);
            formData.append('active', true)
            update(formData)
        });
    });
</script>

{% endblock content %}