<th scope="row">{{order.id}}</th>
<td>{{order.name}}</td>
<td>{{order.placed_at}}</td>
<td>{{order.payment_status}}</td>
<td>{{order.order_status}}</td>
<td>{{order.total}}</td>
<td class="row justify-content-around">
    <button hx-get="{%url 'admin-order-detail' order.id%}" hx-target="#ordermodalcontent" hx-trigger="click"
        hx-vals='{"mode":"update"}' class="btn btn-outline-secondary p-2 col-5 fs-6" data-bs-toggle="modal"
        data-bs-target="#ordermodal">
        Edit</button>

    <a href="{%url 'admin-order-detail' order.id%}" class="btn btn-primary p-2 col-6 fs-6">details</a>

</td>