{% extends "index.html" %}
{% load rest_framework %}
{% block menu %}
{% include "admin/admin-nav.html" %}
{% endblock menu %}

{% block content %}
<a href="{%url 'admin-product-detail' product_id%}" class="btn btn-outline-primary mx-5">Back to Product</a>
<details class="container my-3">
    <summary class="h4">Add Product Image</summary>
    <div id="action-bar" class="container row justify-content-center">
        <div class="col-8">
            <form action="/myadmin/products/{{product_id}}/images/" method="post" enctype="multipart/form-data">
                <div class="modal-body">





                    {% csrf_token %}
                    {% render_form serializer %}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Product Image</button>
                </div>
            </form>
        </div>
</details>
<!-- <button type="button" class="btn btn-success col-2 add-button" data-bs-toggle="modal" data-bs-target="#addModal">
        Add
    </button> -->

<details class="container" open>
    <summary class="h4">Product {{product_id}} Image List</summary>
    <div class="d-flex justify-content-between">
        {% if previous %}
        <a href="{{previous}}" class="btn btn-outline-primary btn-block">Previous</a>
        {% else %}
        <button class="btn btn-outline-primary btn-block" disabled="disabled">Previous</button>
        {% endif %}
        <p>{{page_number}}/{{total_pages}}</p>

        {% if next %}
        <a href="{{next}}" class="btn btn-outline-primary btn-block">Next</a>
        {% else %}
        <button class="btn btn-outline-primary btn-block" disabled="disabled">Next</button>
        {% endif %}
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Url</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for image in results%}
            <tr>



                <th scope="row">{{image.id}}</th>
                <td><a href="{{image.image}}">{{image.image}}</a></td>
                <td class="col-2 "><img src="{{image.image}}" class="img-thumbnail rounded border border-1"
                        alt="Product Image">
                </td>


                <td class="row justify-content-around">
                    <a href="{%url 'admin-product-detail' product_id %}images/{{image.id}}"
                        class="btn btn-outline-secondary col-3 fs-6">
                        Edit</a>
                    <button type="button" class="btn btn-danger col-4" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" data-bs-userid={{product.id}} data-bs-username={{product.title}}>
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</details>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete the Product
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <form class="" method="POST" action="">
                    {% csrf_token %}
                    <input style="display: none" name="u_id" id="user_id" readonly />
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!------ Modals ------>
<!-- add Modal -->








<script>

    document.addEventListener('DOMContentLoaded', function () {
        const detailsElements = document.querySelectorAll('details');

        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                const userid = button.getAttribute('data-bs-userid')
                const username = button.getAttribute('data-bs-username')
                const modalTitle = deleteModal.querySelector('.modal-title')
                const modalBodyInput = deleteModal.querySelector('#user_id')
                const modalmsg = deleteModal.querySelector('.modal-body')

                modalTitle.textContent = `Delete Product ${userid}`
                modalmsg.textContent = `Are u sure to DELETE ${username}`
            })
        }

        detailsElements.forEach(details => {
            details.addEventListener('toggle', function (event) {
                detailsElements.forEach(otherDetails => {
                    if (otherDetails !== this) {
                        otherDetails.removeAttribute('open'); // Close other details

                    }
                });
            });
        });
    });






</script>
{% endblock content %}