{% if not forloop %}
<div id="address-slot"></div>
{% if created %}
<div class="card mb-4" id="address{{address.id}}">
    {%else%}
    <div class="card mb-4" id="address{{address.id}}" hx-swap-oob="true" hx-swap="true">
        {% endif %}

        {%else%}
        <div class="card mb-4" id="address{{address.id}}">
            {% endif %}




            <div class="card-header row">
                {% if address.primary %}
                <h5 class="col">{{address.name}}</h5>
                <p class="col text-end text-danger" id="is_p{address.id}">Primary Address</p>
                {%else%}
                <h5 class="col">{{address.name}}</h5>
                <p class="col" id="is_p{{address.id}}"></p>
                {% endif %}
            </div>
            <div class="card-body">
                <h6 class="h6 text-capitalize card-title">{{address.state}}, {{address.city}}</h6>
                <h6 class="h6 fw-normal card-text">pin: {{address.pin}}</h6>
                <p class="card-subtitle">{{address.other_details}}</p>
                <div class="card-footer">
                    <button type="button" hx-get="{%url 'u-address-detail' address.id%}" hx-target="#address-edit-form"
                        hx-trigger="click" hx-vals='{"mode":"edit"}' class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addresseditform">Edit</button>
                    <button type="button" hx-get="{%url 'u-address-detail' address.id%}" hx-vals='{"mode":"delete"}'
                        hx-trigger="click" hx-target="#address-delete" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#addressdelete">Delete</button>

                </div>
            </div>
        </div>

        <div class="modal fade" id="addressdelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Address</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="address-delete">
                        {% include "app/address-delete.html" %}

                    </div>
                </div>
            </div>
        </div>

        <section id="messages-section" hx-swap="innerHTML" hx-swap-oob="true">
            {% include "messages.html" %}
        </section>