{% extends "index.html" %}
{% load rest_framework %}

{% block content %}
<section class="container mt-2">

    <div class="d-flex my-3 justify-content-between">
        <h3 class="">Your Cart</h3>
        {% if cart_count != 0 %}


        <button hx-get="{%url 'u-cart-list'%}" hx-vals='{"mode":"checkout"}' hx-target="#main" hx-trigger="click"
            type="button" id="checkbtn" class="btn btn-dark ">Go To Checkout</button>
        {% endif %}
    </div>
    {% for item in results %}
    <div class="card mb-4" id="cartitem{{item.id}}">
        {% include "app/cart-list.html" %}
    </div>
    {% endfor %}

</section>
{% endblock content%}