{% extends "index.html" %}
{% load rest_framework %}

{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home</a></li>
            <li class="breadcrumb-item active">Categories</li>
        </ul>
    </nav>
</div>


<section class="home-cards grid container my-6">
    <div class="section-title mb-4">
        <h1 class="h1 row font-monospace">Categories</h1>
    </div>
    <div class="d-flex justify-content-between">
        {% if previous %}
        <a href="{{previous}}" class="btn btn-outline-primary btn-block">Previous</a>
        {% else %}
        <button class="btn btn-outline-primary btn-block" disabled="disabled">Previous</button>
        {% endif %}
        <p>{{page_number}}/{{total_pages}}</p>

        {% if next %}
        <a href="{{next}}" class="btn btn-outline-primary btn-block">Next</a>
        {% else %}
        <button class="btn btn-outline-primary btn-block" disabled="disabled">Next</button>
        {% endif %}
    </div>


    <div class="row ">

        {% for item in results %}


        <div class="card col-lg-3 col-sm-6 m-3">
            <img class="card-img-top img-fluid" src="{{item.img}}" alt="product pic here">
            <div class="card-body">
                <h3>{{item.title}}</h3>
                <p class="d-none d-md-block">${{item.product_count}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="d-flex justify-content-between list-group-item">

                    <a class="">{{item.collection.title}}</a>
                    <a class="ps-3 fs-6 text-end">{{item.category.title}}</a>
                </li>

            </ul>

            <div class="card-body">
                <a href="{%url 'product_page' pk=item.id%}">Learn more <i class="fa fa-thin fa-chevron-right"></i></a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">

        {% endif %}
        {% endfor %}


        <div class="d-flex justify-content-between">
            {% if previous %}
            <a href="{{previous}}" class="btn btn-outline-primary btn-block">Previous</a>
            {% else %}
            <button class="btn btn-outline-primary btn-block" disabled="disabled">Previous</button>
            {% endif %}
            <p>{{page_number}}/{{total_pages}}</p>

            {% if next %}
            <a href="{{next}}" class="btn btn-outline-primary btn-block">Next</a>
            {% else %}
            <button class="btn btn-outline-primary btn-block" disabled="disabled">Next</button>
            {% endif %}
        </div>


</section>
{% endblock content %}