{% if htmx %}
<span id="grand_total" hx-swap="innerHTML" hx-swap-oob="true">{{total}}
</span>
{% endif %}

<div id="coupon-section" hx-swap="innerHTML" hx-swap-oob="true">
    <input type="text" name="coupon" value="{{coupon.code}}" hidden>
</div>

<section id="messages-section" hx-swap="innerHTML" hx-swap-oob="true">
    {% include "messages.html" %}
</section>
<form>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="coupon" placeholder="Coupon Code" aria-label="Coupon Code"
            aria-describedby="coupon-addon2">
        <button hx-post="{%url 'coupon-check' %}" hx-trigger="click" hx-target="#coupon-form-section"
            hx-include="#grand_input" class="btn btn-outline-primary" type="button" id="coupon-addon2">Apply</button>
    </div>

</form>