{% extends "index.html" %}
{% load rest_framework %}

{% block content %}


<section class="container">
    <div class="d-flex fex-row justify-content-between">
        <h3>Your order summary</h3>
        <div class="pdfgen">
            <form id="pdf-form" hx-get="{% url 'u-order-detail' pk=order.id %}?mode=pdfgen" hx-target="this"
                hx-swap="none">
                <button type="submit" class="btn btn-dark">Download PDF Invoice</button>
            </form>
        </div>
    </div>
    {% include "app/order-summary-card.html" %}


</section>
{% endblock content %}