<div class="card mb-3">
    <div class="card-header card-header bg-primary">
        <h5 class="card-title ">
            <span class="col-6">Payment Method</span>
        </h5>
    </div>
    <div class="card-body row">
        <div class="btn-group-vertical col-7" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="payment-method" id="cod" value="cod" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="cod">Cash On Payment</label>
            <input type="radio" class="btn-check" name="payment-method" id="razorpay" value="rzr" autocomplete="off">
            <label class="btn btn-outline-success" for="razorpay">Razor Pay</label>

        </div>
    </div>
</div>