{% extends "index.html" %}
{% load rest_framework %}

{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home</a></li>
            <li class="breadcrumb-item active">Product List</li>
        </ul>
    </nav>
</div>
<div class="container d-flex felx-row justify-content-between mb-3">
    <h1 class="h1 row font-monospace">Products</h1>
    <div class="d-flex felx-row justify-content-between">
        <form>
            <div class="py-2">
                <div class="input-group flex-nowrap form-floating">
                    <input type="text" class="form-control" id="searchbox" name="search" aria-label="Search Keyword"
                        aria-describedby="addon-wrapping">
                    <label for="searchbox">Search Keyword</label>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">


                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sortings
                            </button>
                            <ul class="dropdown-menu">
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio1"
                                        autocomplete="off" value="title">
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio1">Product
                                        A-Z</label>
                                </li>
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio2"
                                        autocomplete="off" value="-title" checked>
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio2">Product
                                        Z-A</label>
                                </li>
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio3"
                                        autocomplete="off" value="unit_price">
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio3">Price
                                        ++</label>
                                </li>
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio4"
                                        autocomplete="off" value="-unit_price">
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio4">Price
                                        --</label>
                                </li>
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio5"
                                        autocomplete="off" value="last_update">
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio5">Latest
                                        --</label>
                                </li>
                                <li> <input type="radio" class="btn-check" name="ordering" id="vbtn-radio6"
                                        autocomplete="off" value="-last_update">
                                    <label class="btn btn-outline-danger dropdown-item" for="vbtn-radio6">Oldest
                                        --</label>
                                </li>
                            </ul>
                        </div>
                        <script>
                            const searchBox = document.getElementById("searchbox");

                            getSearch = () => {
                                const searchBox = document.getElementById("searchbox");
                                return searchBox.value
                            }
                            getOrdering = () => {
                                const sortradio = document.querySelector("input[name='ordering']:checked")
                                return sortradio.value
                            }
                        </script>
                        <button hx-get="{%url 'u-product-list'%}" hx-trigger="click" hx-target="#productlistsection"
                            type="button" class="btn btn-dark"
                            hx-vals='js:{search:getSearch(),ordering:getOrdering()}'><i class="fa-solid fa-filter"></i>
                            Filter</button>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<section id="productlistsection" class="home-cards grid container my-6">
    {% include "app/products-list.html" %}
</section>
{% endblock content %}