{% extends "index.html" %}
{% load rest_framework %}
{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home</a></li>
            <li class="breadcrumb-item ">{{product.category.title}}</li>
            <li class="breadcrumb-item active">{{product.collection.title}}</li>
        </ul>
    </nav>
</div>


<!-- <div class="container">
    <h2>{{product.title}}</h2>
</div> -->

<main class="cd__main">
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="{{product.images.0.image}}" alt="ProductS">
                    <div class="row my-3 previews">
                        {% for img in product.images %}
                        <div class="col-md-3">
                            <img class="w-100" src="{{img.image}}" alt="Sale">
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: {{product.category.title}}
                    </div>
                    <div class="product-title text-bold my-3">
                        <h2>{{product.title}}</h2>
                    </div>


                    <div class="price-area my-4">
                        <!-- <p class="old-price mb-1"><del>${}}</del> <span class="old-price-discount text-danger">(20%
                                off)</span></p> -->
                        <p class="new-price text-bold mb-1">${{product.unit_price}}</p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>
                        {% if product.stock %}
                        <p class="text-end fs-6 col-3 text-white bg-danger text-center fw-semibold my-0 ">
                            {{product.stock}}</p>
                        {%else%}
                        <p> </p>
                        {% endif %}

                    </div>


                    <div class="buttons d-grid my-5 ">
                        <div class="row justify-content-between">
                            <a href="#" class="shadow btn custom-btn col-4">Wishlist</a>
                            <button class="shadow btn custom-btn col-4">Add to cart</button>

                            <div class="block quantity col-3">
                                <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5"
                                    placeholder="Enter email" name="cart_quantity">
                            </div>
                        </div>
                    </div>




                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">{{product.description}}</p>
                </div>

                <div class="row questions bg-light p-3">
                    <div class="col-md-1 icon">
                        <i class="fa-brands fa-rocketchat questions-icon"></i>
                    </div>
                    <div class="col-md-11 text">
                        Have a question about our products at E-Store? Feel free to contact our representatives via
                        live chat or email.
                    </div>
                </div>

                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done
                            in 3 days from date of purchase</b> </p>
                    <p class="text-secondary">Order now to get this product delivery</p>
                </div>
                <div class="delivery-options my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery
                            options</b> </p>
                    <p class="text-secondary">View delivery options here</p>
                </div>


            </div>
        </div>
    </div>


    {% endblock content %}