{% for item in results %}



<div class="card mb-4 " id="cartitem{{item.id}}">
    <img src="/media/{{item.product.image}}" class="card-img-top img-thumbnail" alt="...">
    <div class="card-body align-self-end">
        <h5 class="card-title">{{item.product.title}}</h5>
        {%if item.product.unit_price == item.product.effective_price%}
        <h6 class="card-text mb-2 ">₹{{item.product.effective_price}}</h6>
        {%else%}
        <div class="d-flex flex-row gap-3 mb-2">
            <span class="card-text text-decoration-line-through ">₹{{item.product.unit_price}}</span>
            <span class="card-text ">₹{{item.product.effective_price}}</span>
        </div>
        {%endif%}
        {% if item.product.stock %}
        <p class="card-text text-danger my-0">{{item.product.stock}}</p>
        {% endif %}
        <button type="button" hx-post="{%url 'u-cart-list'%}" hx-trigger="click" hx-target="#cartitem{{item.id}}"
            hx-swap="outerHTML" hx-vals='{"mode":"add","quantity":1,"in":"wishlist","product_id":{{item.product.id}}}'
            class="btn btn-dark btn-sm">Add
            to Cart</button>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
            data-bs-target="#rmodal{{item.id}}">Remove</button>



        <div class="modal fade" id="rmodal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">
                            Item Remove
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure You want to remove item "{{item.product.title}}"</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button hx-post="{%url 'u-wishlist-list'%}" hx-trigger="click" hx-target="#cartitem{{item.id}}"
                            hx-vals='{"mode":"wishlist","product_id":{{item.product.id}}}' hx-swap="outerHTML"
                            type="button" class="btn btn-danger" data-bs-dismiss="modal">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% if next %}
{% if forloop.last %}


{% endif %}
{% endif %}
{% endfor %}